@font-face {
  font-family: 'Monofrik';
  src: url('/Monofrik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monofrik';
  src: url('/Monofrik.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monofrik';
  src: url('/Monofrik.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
